[submodule "wdls/ext/BbCallRST"]
	path = wdls/ext/BbCallRST
	url = https://github.com/mjfos2r/BbCallRST.git
[submodule "wdls/ext/BbCallOspC"]
	path = wdls/ext/BbCallOspC
	url = https://github.com/mjfos2r/BbCallOspC.git
[submodule "wdls/ext/BbCallPlasmids"]
	path = wdls/ext/BbCallPlasmids
	url = https://github.com/mjfos2r/BbCallPlasmids.git
